    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"></navclass>>
            <ul class="nav nav-pills" id="left-nav">
                <li class="nav-item"><a href="#" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Classes</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
                <li class="nav-item"><a href="#"class="nav-link">Login</a></li>
                <li class="nav-item"><a href="#" class="nav-link">New Customer</a></li>
                <li class="nav-item"><a href="#" class="nav-link">User Account Search</a></li>
            
            </ul>
        </nav>
        <hr style="clear:both">
    </header>