{% extends "base.html"  %}
{% block content  %}
<style>
    table {
        margin-top: 10px;
    }

    h3{
      margin-top: 30px;  
    }
</style>


<center>
    <h3>Customer Status</h3>
    <table class="table table-hover table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Customer ID</th>
                <th>Customer SSN ID</th>
                <th>Message</th> 
                <th>Last Updated</th>
            </tr>
        </thead>
        
        <tbody>
            {% for activity in customer_activities %}
            <tr>
            <td>{{ activity['id'] }}</td>
            <td>{{ activity['customer_id'] }}</td>
            <td>{{ activity['message'] }}</td>
            <td>{{ activity['date_time'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 
</center>
{% endblock %}