{% extends "base.html" %}

{% block content %}
<div class="content-section mt-4">

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ title }}</legend>
            {% for field in form %}
            {% if field.type != "SubmitField" %}
            <div class="form-group">
                {% if field.widget.input_type != 'hidden' %} {{ field.label(class="form-control-label") }} {% endif %}
                {% if field.errors %}
                {{ field(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ field(class="form-control form-control-sm") }}
                {% endif %}
            </div>
            {% endif %}
            {% endfor %}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock content %}